.hide {
    display: none;
}
body {
   background-color: aliceblue;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(223, 243, 235);
	margin: 50px auto;
	padding: 50px;
}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(223, 227, 243);
	max-width: 450px;
	margin: 10px auto;
	padding: 50px;
}
textarea, input {
    
    border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 10px;
	width: 90%;
	font-family: inherit;
	font-size: 15px;
    
}
button {
	background: #0d6efd;
	color: #fff;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid #0d6efd;
	text-align: center;
	padding: 10px;
}